# wgez UI
HOST_URL=wgez.domain.tld
# traefik UI
TRAEFIK_HOST_URL=traefik.domain.tld
# Base security. Create this password using htpasswd -nB username
ADMIN_USER_AUTH=
# Traefik Log Level [info,debug]
LOG_LEVEL=info
# LetEncrypt
LE_EMAIL=postmaster@domain.tld
DNS_PROVIDER=route53
# Route53
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACESS_KEY=
AWS_REGION=
AWS_HOSTED_ZONE_ID=


